@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  body{
    font-family: montserrat;
  }

.border-b-trans {
    display: inline-block;
    position: relative;
    background: linear-gradient(rgb(107 114 128), rgb(107 114 128)) bottom/0% 2px no-repeat;
    transition: 0.4s all;
  }

  .border-b-trans:hover {
    background-size: 100% 2px;
  }

  .border-b-trans-active {
    background: linear-gradient(rgb(0 0 0), rgb(0 0 0)) bottom/0% 2px no-repeat;
    background-size: 100% 2px !important;
    transition: 0.4s all;
  }

  
}